# Android generated folders
gen/
checkstyle-result.xml
local.properties
bin/
.project
.classpath
.idea
out
*.apk
build.xml.bak
.DS_Store
/asia.ivity.android.tiledscrollview.ipr
/asia.ivity.android.tiledscrollview.iws
*.iml
